*{
  margin: 0px;
  padding: 0px;
  /* background-color: burlywood; */
}

.back{
 background-image: url('./assets/bank2.jpg');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 height: 500px;
 position: relative;
}
 nav{
 position: sticky;
 background-color: #B6D3F3;
 background-size: cover;
 height: 50px;
 padding: 15px; 
 box-shadow: 0px 5px 15px #ccc ;
}
nav label{
  font-size: 40px;
  padding-left: 60px;
  font-weight: bolder;
  color:#012443;
}
nav ul {
margin-top: 20px;
 margin-right: 10px;
 float: right;
  /* background-color: darkorchid; */

}
nav ul li {
 display: inline-block;
 /* line-height: 60px; */
 margin: 0 5px;
}
nav ul li a {
 color:black;
 font-size: 16px;
 font-weight: bold;
 padding: 7px 13px;
 border-radius: 3px;
 text-decoration: none;
 text-transform: uppercase;
}

.active{
 background: #012443;
 border-radius: 20px;
 color: white;
}
a:hover {
 background: #012443;
 transform: 0.5s;
 border-radius: 20px;
 color:white
}
.loanform{
/* width: 100%; */
 /* background-color: blue; */

/* border: 0.5px solid #ccc; */
margin-top: 10px;
}
.fields 
{
 display:inline-table;
 align-items: space-evenly;
 width: 25%;
 height: 90px;
 /* background-color: burlywood; */
 /* margin-top: 10px; */
}
.errordiv{

 color: red;
 padding-left: 30px;
}
.detailstitle{
 font-size:x-large;
 padding-left: 30px;
 margin-top: 20px;
 height: 40px;
 margin-bottom: 10px;
}
.detailsinput{

 margin-top: 0px;
 font-weight: bolder;
}
.fields input,select{
 display: block;
 margin-top: 1px;
 width: 80%;
 height: 30px;
 border-radius: 3px;
 border: 0.5px solid #ccc;
 /* margin-bottom: 20px; */
 margin-left: 30px;
 padding: 3px;
 font-size: inherit;
}

input:focus,select:focus{
border: 1px solid #19c0cc;
outline: none !important;
padding-left: 10px;
}
.fields label{
 padding-left: 30px;
}
.interest{
 margin-left: 30px;
 padding: 3px;
 font-size: inherit;
 font-weight: bolder;
}
.btn{
 text-align: center;
  justify-content: space-between;

}
.btn button{
 width: 10%;
 height: 30px;
 font-size:medium;
 background: #012443;
 border-radius: 20px;
 color: white;
 margin-left: 10px;
 margin-right: 10px;
}


table {
 border: 1px solid #ccc;
 border-collapse: collapse;
 margin: 5%;
 padding: 0;
 width: 90%;
 table-layout: fixed;
}

table caption {
 font-size: 1.5em;
 margin: .5em 0 .75em;
}

table tr {
 background-color: #f8f8f8;
 border: 1px solid #ddd;
 padding: .35em;
}

table th,
table td {
 padding: .625em;
 text-align: left;
}

table th {
 font-size: .85em;
 letter-spacing: .1em;
 background-color:#012443;
 text-transform: uppercase;
 color: white;
}

@media screen and (max-width: 800px) 
{
 *{
   margin: 0px;

 }
 #left{
   
   text-align: right;
   margin-right: 30px;
  
 }
.btn button{
  width: 50%;
  /* display: block; */
 text-align: center;
 margin-top: 5px;
} 
 .cont{
   width: 100%;
 
 }
 .back{
   margin-top: 60px;
 }
 .detailstitle{
   width: 100%;
   background-color:#f8f8f8;
 }
 nav{
   width: 100%;
 }
.loanform{
 margin-top: 10%;
}
 nav ul {
   margin-top: 20px;
    /* padding-right: 10px; */
    /* float: right; */
     /* background-color: darkorchid; */
     width: 100%;
     margin-right: 0px;
  display: block;
  }
  nav ul li{
   
    padding-right: 10px;
  }
 .fields{
   width: 100%;
 }
 table {
   border: 0;
 margin-top: 60px;
 }
.detailsinput{
 font-size: medium;
font-weight: bolder;
}
 table caption {
   font-size: 1.3em;
 }
 
 table thead {
   border: none;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
 }
 
 table tr {
   border-bottom: 3px solid #ddd;
   display: block;
   margin-bottom: .625em;
 }
 
 table td {
   border-bottom: 1px solid #ddd;
   display: block;
   /* font-size: .8em; */
   font-size: medium;
   text-align: left;
   font-weight: normal;
  
 }
 
 table td::before {
   /*
   * aria-label has no advantage, it won't be read inside a table
   content: attr(aria-label);
   */
   content: attr(data-label);
   float: left;
   font-weight: bold;
   text-transform: uppercase;
   /* padding-right: 50px; */
 }
 
 table td:last-child {
   border-bottom: 0;
  
 }
}

.view{
 background: #012443;
 border-radius: 20px;
 color: white;
 width: 70px;
 height: 30px;
}

/* general styling
body {
 font-family: "Open Sans", sans-serif;
 line-height: 1.25;
} */

